[program:cron]
command=crond -n
priority=600
numprocs=1
autostart=true
autorestart=true

stdout_logfile={{ tmp_base }}/service_cron.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=5
redirect_stderr=true