[program:centrifugo]
command=centrifugo -c {{ app_base }}/centrifugo/config.toml
user=azuracast
priority=700
numprocs=1
autostart=true
autorestart=true

stopasgroup=true
killasgroup=true

stdout_logfile={{ tmp_base }}/service_centrifugo.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=5
redirect_stderr=true
