[program:php-fpm]
command=php-fpm --nodaemonize --fpm-config /etc/php-fpm.conf
priority=500
numprocs=1
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
stdout_logfile={{ tmp_base }}/php-fpm.log
stdout_logfile_maxbytes=5MB
stdout_logfile_backups=5
redirect_stderr=true
